.navbar {
    align-items: center;
    height: 3.66em;

    & > * {
        padding: 0 16px;
        height: 100%;
    }

    img {
        height: 40px;
    }

    a {
        padding: 8px 14px;
    }

    & > a:first-child {
        display: flex;
        align-items: center;
        padding: 0 0 0 16px;
    }
}

.dropdown {
    display: flex;
    align-items: stretch;

    i.fa-bars {
        line-height: var(--line-height-medium);
        font-size: var(--font-up-4);
        color: var(--header_primary);
    }

    button {
        border: none;
        outline: none;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
        text-transform: inherit;
        background-color: inherit;
        color: var(--header_primary);
        display: block;
    }

    // button:not(:first-child):hover {
    //     color: var(--header_background);
    // }

    .dropdown-content {
        display: none;
        background-color: var(--header_background);
        width: fit-content;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        top: 3.66em;
        left: 0;
        position: fixed;
    }

}

.accordion {
    width: 100%;
    padding: 8px 14px;
    text-align: left;

    &::after {
        font-family: "Font Awesome 5 Free";
        content: "\f0da";   // fa-caret-right
        display: inline-block;
        font-weight: 900;
    }

    & + .panel {
        display: none;
    }

    &.active {
        &::after {
            font-family: "Font Awesome 5 Free";
            content: "\f0d7";   // fa-caret-down
            display: inline-block;
            font-weight: 900;
        }

        & + .panel {
            display: block;
        }
    }
}

.panel {
    overflow: hidden;
    padding-left: 16px;
}

div.extra-info-wrapper {
    display: none;
}