.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: fit-content;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: var(--header_background);
    z-index: 1040;
    display: flex;

    a {
        color: var(--header_primary);
        background-color: var(--header_background);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;

        img#logo {
            width: 40px;
            height: 40px;
        }
    }
}

header.d-header #site-logo {
    display: none;
}

