 <div class="navbar">
    <a href="https://www.psaudio.com/">
        <img src="https://public-web-resources.s3.us-west-1.amazonaws.com/Logos/psaudio-logo.svg" alt="PS Audio Logo" id="logo">
    </a>

    <a href="/">Home</a>

    <div class="dropdown">
        <button class="dropbtn">Shop
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">

            <div class="slideout">
                <button class="slidebtn">Series
                    <i class="fa fa-caret-right"></i>
                </button>
                <div class="slideout-content">
                    <a href="https://www.psaudio.com/collections/aspen">aspen Series</a>
                    <a href="https://www.psaudio.com/collections/perfectwave">PerfectWave Series</a>
                    <a href="https://www.psaudio.com/collections/stellar">Stellar Series</a>
                    <a href="https://www.psaudio.com/collections/sprout">Sprout Series</a>
                </div>
            </div>

            <div class="slideout">
                <button class="slidebtn">Categories
                    <i class="fa fa-caret-right"></i>
                </button>
                <div class="slideout-content">
                    <a href="https://www.psaudio.com/collections/loudspeakers">Loudspeakers</a>
                    <a href="https://www.psaudio.com/collections/dacs-and-sources">DACs and Sources</a>
                    <a href="https://www.psaudio.com/collections/amplifiers">Amps and Preamps</a>
                    <a href="https://www.psaudio.com/collections/power-regenerators">Power Regenerators</a>
                    <a href="https://www.psaudio.com/collections/connections">Connections</a>
                    <a href="https://www.psaudio.com/collections/octave-records">Music</a>
                    <a href="https://www.psaudio.com/collections/merch-table">Merch Table</a>
                    <a href="https://www.psaudio.com/collections/accessories">Accessories</a>
                </div>
            </div>

            <a href="https://www.psaudio.com/collections/octave-records">Octave Records</a>
            <a href="https://www.psaudio.com/collections/all">All Products</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Support
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="https://www.psaudio.com/pages/downloads">Downloads</a>
            <a href="https://www.psaudio.com/pages/manuals">Manuals</a>
            <a href="https://www.psaudio.com/pages/powerplay">PowerPlay</a>
            <a href="https://www.psaudio.com/blogs/how-to">How To</a>
            <a href="https://www.psaudio.com/pages/contact">Help Desk</a>
            <a href="https://www.psaudio.com/pages/trade-ins">Trade-Ins</a>
            <a href="https://www.psaudio.com/pages/product-registration">Product Registrations</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">The Hi-Fi Family
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="https://forum.psaudio.com/">Forums</a>
            <a href="https://www.psaudio.com/blogs/pauls-posts">Paul's Posts</a>
            <a href="https://www.psaudio.com/blogs/ask-paul">Ask Paul</a>
            <a href="https://www.psaudio.com/pages/hi-fi-family-systems">Hi-Fi Family Systems</a>
            <a href="https://www.psaudio.com/pages/newsletter">Newsletter</a>
            <a href="https://www.psaudio.com/pages/about">About</a>
            <a href="https://www.psaudio.com/pages/join-the-hi-fi-family">Join the Hi-Fi Family</a>
            <a href="https://www.psaudio.com/pages/tours">Tours</a>
        </div>
    </div>

    <a href="https://www.psaudio.com/find-a-dealer">Find a Dealer</a>

    <a href="https://www.psaudio.com/copper-magazine">Copper Magazine</a>
</div>