.navbar {
    align-items: stretch;
    height: 4em;

    & > a,
    & > * {
      padding: 0 12px;
      display: flex;
      align-items: center;
    }

    a:hover, button:hover {
        background-color: rgb(117, 120,123);
        color: var(--header_background);
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content,
    .slideout:hover .slideout-content {
        display: block;
    }
}

// .navbar a:hover,
// .dropdown:hover,
// .slideout:hover {
//   background-color: rgb(117, 120,123);
//   color: var(--header_background);
// }

.dropdown, .slideout {
  display: flex;
  align-items: stretch;

  .dropbtn, .slidebtn {
    border: none;
    outline: none;
    text-align: left;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    text-transform: uppercase;
    background-color: inherit;
    color: var(--header_primary);
    width: 100%;

    // &:hover {
    //   color: var(--header_background);
    // }
  }

  .slidebtn {
    padding: 12px 16px;
  }

  .dropdown-content, .slideout-content {
    display: none;
    position: absolute;
    background-color: var(--header_background);
    width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 4em;
    left: 12px;
  }

  .dropdown-content {
    left: 12px;
  }

  .slideout-content {
    left: 170px;    // content-dependent
    top: 0;
  }
}

/* Add a grey background color to dropdown links on hover */
// .dropdown-content a:hover,
// .slideout-content a:hover
// .slidebtn:hover {
  // background-color: rgb(117, 120,123);
  // color: var(--header_background);
// }

// /* Show the dropdown menu on hover */
// .dropdown:hover .dropdown-content, .slideout:hover .slideout-content {
//   display: block;
// }